#countdownContainer{

    border: solid red 1px;
    border-radius: 10px;
    color: #fff;
    background-color: #101010e3;
    user-select: none;
    position: absolute;
    display: none;
    position: absolute;
}

.countdownContent{
    padding: 20px;
}

.countdownTitle{
    font-size: 28px;
    margin: 10px 0;
    text-align: center;
}

.countdownLogin{
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.countdownItem{
    margin: 10px 0 50px 0;
}

.dateItem{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: solid 1px #fff;
    border-radius: 5px;
    padding: 10px;
    flex: 1 1 0;
    width: 70px;
}

.countdownDate{
    display: flex;
    gap: 20px;
}

#months, #weeks, #days, #hours #minues, #seconds{
}

#months{

}

#weeks{

}

#days{

}

#hours{

}

#minutes{

}

#seconds{

}
