#loginContainer{
    width: 500px;
    border: solid red 1px;
    border-radius: 5px;
    text-align: center;
}

.loginContent{
    padding: 10px;
}

.signupContent{
    padding: 10px;
}

.hidden{
    display: none;
}