#settingsContainer{
    height: 500px;
    width: 500px;
    border: solid 1px #000;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    display: none;
    border-radius: 10px;
    background-color: #000;
}

#settingsContainer .closeButton{
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px;
    cursor: pointer;
    color: #fff;
}

.settingsButton{
    position: absolute;
    bottom: 0;
    left: 0;
    cursor: pointer;
}