#settingsContainer{
    height: 500px;
    width: 60%;
    border: solid 1px #cdcdcd;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    border-radius: 10px;
    background-color: #101010e3;
    justify-content: space-between;
    color: #fff;
    z-index: 1;
    display: none;
    user-select: none;
}

#settingsContainer .closeButton{
    position: absolute;
    top: 7px;
    right: 7px;
    padding: 2px 7px;
    cursor: pointer;
    color: #fff;
    border: solid 2px #fff;
    border-radius: 50%;
}

.settingsNavContainer{
    border-right: solid #fff 1px;
    width: 30%;
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.settingsNavContainer h5{
    margin: 10px 0;
}

.settingsNavContainer ul li{
    text-decoration: none;
    list-style-type: none;
    cursor: pointer;
}

.settingsContent{
    width: 60%;
}

.settingContent ul li{
    list-style-type: none;
}

.settingsContent .userDetails{
    margin-top: 30px;
}

.settingsContent .nameLabel{
    margin-bottom: 10px;
}

.userTab .weatherLabel{
    margin-top: 30px;
    margin-bottom: 10px;
    height: 100%;
    opacity: 30%;
}

.settingsContent .weatherInputWrapper{
    height: 20px;
    display: flex;
    gap: 10px;
}

.submitWeather{
    opacity: 30%;
}

.clearWeather{
    opacity: 30%;
}

.settingsContent .nameInputWrapper{
    height: 20px;
    display: flex;
    gap: 10px;
}

.settingsContent .weatherInput{
    opacity: 30%;
    pointer-events: none;
}

.settingsContent .submitName{
    height: 20px;
}

.settingsContent .clearName{
    height: 20px;
}

#settingsContainer .settingsActive{
    border-radius: 5px;
    outline: 1px solid #fff;
}

.userSettings{
    display: block;
}

.spotifyTab{
    display: none;

}

.tabContainer{
    padding: 30px;
    width: 100%;
}

.countdownTab{
    display: none;
}

.countdownLabel{

}

.countdownDateLabel{
    margin-top: 30px;
}

.settingsItem{
    padding: 0px 10px;
    margin-bottom: 10px;
}