.toolBarContainer{
    position: fixed;
    height: 40px;
    background: rgba(0, 0, 0, 80%);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(8.2px);
    -webkit-backdrop-filter: blur(8.2px);
    bottom: 15px;
    gap: 10px;
    left: 50%;
    transform: translate(-50%, 0);
    display: flex;
    border-radius: 5px;
    padding: 1px 0;
    justify-content: center;
    width: 90%;
    border: solid 1px #717171;
}

.toolbarWrapper{
    display: flex;
    gap: 15px;
    align-items: center;
    justify-content: center;
    margin: 0 20px;
}

.barIcon{
    width: 25px;
    height: 25px;
    background-color: #0000006e;
    border-radius: 5px;
}

.barIcon img{
    height: 100%;
    width: 100%;
}

.barIcon .effectsContainer{
    width: 215px;
    border: solid 1px black;
    margin-top: -110px;
    transform: translate(-46%, 10px);
    background-color: #101010e3;
    border-radius: 5px;
    display: none;
}

.barIcon .effectsContainer::after {
    content: "";
    position: absolute;
    top: 100%; /* Positioned at the bottom of the container */
    left: 50%; /* Centered horizontally */
    transform: translateX(-50%); /* Ensures true center alignment */
    width: 0;
    height: 0;
    border-left: 10px solid transparent; /* Half width of the arrow */
    border-right: 10px solid transparent; /* Half width of the arrow */
    border-top: 10px solid #101010e3; /* Creates the triangle pointing down */
}

.barIcon .effectsContainer h5{
    color: #fff;
    text-align: center;
    margin: 5px 0 10px 0px;
    font-weight: normal;
}

.barIcon .effectsContainer .effectBox{
    border: solid 1px #fff;
    border-radius: 5px;
    color: #fff;
    padding: 5px;
}

.barIcon .effectsContainer .effectsIcons{
    display: flex;
    justify-content: center;
    gap: 20px;
    cursor: pointer;
    margin-bottom: 10px;
    margin-top: 10px;
}

.toolbarContainer .settings{

}

.toolbarContainer .spotify{

}