.toolBarContainer{
    position: fixed;
    height: 45px;
    background: rgba(0, 0, 0, 0.88);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(8.2px);
    -webkit-backdrop-filter: blur(8.2px);
    bottom: 15px;
    gap: 10px;
    left: 50%;
    transform: translate(-50%, 0);
    display: flex;
    border-radius: 5px;
    padding: 1px 0;
    justify-content: center;
}

.toolbarWrapper{
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
    margin: 0 20px;
}

.barIcon{
    width: 35px;
    height: 35px;
    background-color: #0000006e;
    border-radius: 5px;
}

.barIcon img{
    height: 100%;
    width: 100%;
}

.toolbarContainer .settings{

}

.toolbarContainer .spotify{

}