#weatherContainer{
    min-width: 200px;
    height: auto;
    width: 300px;
    resize: horizontal;
    border: solid red 1px;
    border-radius: 10px;
    color: #fff;
    background-color: #101010e3;
    user-select: none;
    overflow: auto;
    position: absolute;
}

.widgetContainer{
    padding: 10px;
}