.scene #welcomeDraggable{
    color: #fff;
    width: 400px;
    background: rgba(230, 230, 230, 0.205);
    box-shadow: 0 4px 30px rgba(230, 230, 230, 0.1);
    backdrop-filter: blur(8.2px);
    -webkit-backdrop-filter: blur(8.2px);
    border-radius: 10px;
    resize: both;
    overflow: hidden;
    display: none;
    position: absolute;
}

#welcomeDraggable .draggable{
    border: none;
    height: auto;
    padding: 20px;
}

#welcomeContainer{
    font-size: 24px;
    font-weight: bold;
}

.time{
    font-size: 18px;
    margin-top: 5px;
}